<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495282422958-ubvd0nn8k2ijmsck61s8plof5mahodt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495282422958-ubvd0nn8k2ijmsck61s8plof5mahodt3</string>
	<key>API_KEY</key>
	<string>AIzaSyDm9Ai1tdpf_9W59rXLwmcF29RnrFsvnr4</string>
	<key>GCM_SENDER_ID</key>
	<string>495282422958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.dvt.jhb.realwork</string>
	<key>PROJECT_ID</key>
	<string>musico-bc673</string>
	<key>STORAGE_BUCKET</key>
	<string>musico-bc673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495282422958:ios:1ca148d16e747ea0cf593f</string>
	<key>DATABASE_URL</key>
	<string>https://musico-bc673.firebaseio.com</string>
</dict>
</plist>